#div1{
    margin-left: 500px;
    margin-top: 100px;
    width: 250px;
    background-color: rgb(19, 18, 18);
    padding: 20px;
    box-shadow: 10px 10px #686767;
    
}
b{
    color: rgb(207, 50, 160);
    font-family: 'Courier New', Courier, monospace;
}
input{
    border: none;
    background-color: rgb(235, 231, 231);
}
#btn{
    padding: 4px;
    width: 150px;
    background-color:rgb(115, 19, 134);
    color: rgb(242, 242, 248);
    border-radius: 10px;
}
#btn:hover{
    background-color:rgb(207, 105, 207) ;
    border-radius: 4px;
    transition: 2s;

}
::placeholder{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    color: rgb(243, 245, 247);
    
}
#ad{
    padding: 15px;
}
.example{
    width: 250px;
    height: 80px;
}
